.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  min-height: 200px;
  background-color: #e9e9e9;
  padding: 50px 0;
}
.links {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.links > div {
  width: 300px;
}
.links a {
  padding: 10px 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #1a1a1d;
}
